services:
  read:
    build:
      context: ./read
      dockerfile: Dockerfile
    container_name: read-service
    volumes:
      - ./common:/app/common        
      - data_volume:/app/common/data  # shared volume for data
    working_dir: /home/jabrane
    environment:
      - PYTHONPATH=/app
    command: python read_data.py
    depends_on:
      - write  

  write:
    build:
      context: ./write
      dockerfile: Dockerfile
    container_name: write-service
    volumes:
      - ./common:/app/common
      - data_volume:/app/common/data
    working_dir: /home/jabrane
    environment:
      - PYTHONPATH=/app
    command: python manip_data.py

volumes:
  data_volume: